body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f6f6f6;
    font-family: Arial, sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  form label {
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  form input[type="text"], form input[type="email"] {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  form input[type="submit"] {
    margin-top: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  